@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.chart div {
  font: 10px;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

body a {
  text-decoration: none;
  color: grey;
}

body a:hover {
  color: darkgrey;
}

body {
  margin: 0;
  /*font-family: 'Droid Serif', serif;*/
  font-family: 'Lato', sans-serif;
  background: #ecf0f1;
}

nav {
  border-bottom: 2px solid black;
  background: #ecf0f1;
  /*display: flex;*/
  /*justify-content: space-between;*/
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav li.active a{
  color: black;
}

nav ul {
  padding: 0.5em;
  margin: 0;
  text-align: right;
}


nav li {
  display: inline;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: grey;
}

nav a:hover {
  color: black;
}

.brief {
  min-height: 100vh;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100vw 100vh;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../images/desk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
/*  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px),
  linear-gradient(to bottom, black 60%, #ecf0f1);
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px, 0 0;*/
}

.brief img {
  display: block;
  margin: 0 auto 1em auto;
  border: 1px solid black;
  padding: 5px;
  background: white;
  border-radius: 5px;
  height: 20vmin;
}

/*.brief p {
  margin: 0;
  display: inline-block;
  width: 75vw;
  text-align: center;
}*/

.wrapper {
  margin: 0 auto;
  /*border: 1px solid grey;*/
  /*background: white;*/
  padding: 1em;
}

.row {
  /*max-height: 50vmin;*/
  /*margin: 1em;*/
  border: 1px solid lightgrey;
  overflow: hidden;
    background: #ecf0f1;
}

.col {
  max-height: 100%;
  display: inline-block;
  box-sizing: border-box;
  /*background: green;*/
}

.col-6 {
 display: inline-block;
  width: 60%;
}

.col-4 {
  display: inline-block;
  width: 40%;
}

.col-skill {
  display: inline-block;
  width: calc(95% / 3);
  /*background: grey;*/
  max-height: 300px;
  padding: 0.5em;
  box-sizing: border-box;
  vertical-align: top;
}

.col-skill h3 {
  text-align: center;
  border-bottom: 1px solid black;
}

.col-skill ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.col-skill li {
  background: #73d216;
  padding: 0.2em;
  border: 1px solid black;
}

.about {
  /*min-height: 100vh;*/
  /*background-image: linear-gradient(to bottom, #64b3f4, #71B280);*/
  background: #eee8d5;
}


.about .time {
  box-sizing: border-box;
  padding: 0.5em;
}

.about .time h2 {
  text-align: center;
}

.skills {
  background: #F1E6E0;
  /*background-image: linear-gradient(to bottom, #71B280, #c2e59c);*/
}

.projects {
  background: #34495e;
  /*background-image: linear-gradient(to bottom, white, black);*/
}

.col-3 {
  display: inline-block;
  width: calc((100% - 2em) / 3);
}

.about .col {
  vertical-align: top;
}

@media (max-width: 640px) {
  .brief {
    font-size: 1.2em;
  }
  body {
    font-size: 12px;
  }
/*  #logo {
    display: block;
    margin: auto 0;
    padding: 0.5em;
  }*/
  /*#logo {
    display: block;
    text-align: center;
  }*/
  nav li {
    display: none;
    text-align: center;
  }
  nav li:first-child {
    display:block;
    color: grey;
    cursor: pointer;
  }
  nav li:first-child:hover {
    color: black;
  }
  .showMenuItem {
    display: block;
  }
  .col {
    width: 100%;
  }
  .project .img {
    height: 70vmin;
    /*width: 100%;*/
  }
  i.iconTech {
    font-size: 2.2em;
  }
  .project .summary {
    text-align: center;
  }
  .wrapper {
    max-width: 95vw;
  }
  #about li, #about a {
      display: block;
  }

}

@media (min-width: 641px) and (max-width: 1024px) {
  .brief {
    font-size: 1.5em;
  }
  article {
    display: table;
  }
  .col {
    width: 50%;
  }

  .about .col {
    width: calc((100% - 2em) / 3);;
  }
  body {
    font-size: 14px;
  }
  .project .img {
    height: 300px;
    display: table-cell;
  }
  i.iconTech {
    font-size: 2.5em;
  }
  #logo {
    display: inline-block;
    margin: auto 0;
    padding: 0.5em;
  }
  nav {
    display: inline-block;
    /*float: right;*/
  }
  nav li {
    padding: 0 0.25em;
  }
  nav li:first-child {
    float: left;
  }
  #about ul {
    text-align: center;
  }
  #about li {
    display: inline-block;
  }
  .wrapper {
    max-width: 80vw;
  }
}

@media (min-width: 1025px) {
  .brief {
    font-size: 1.5em;
  }
  article {
    display: table;
  }
  .project .img {
    height: 400px;
    display: table-cell;
  }
  i.iconTech {
    font-size: 3em;
  }
  #logo {
    display: inline-block;
    margin: auto 0;
    padding: 0.5em;
  }
  nav {
    display: inline-block;
    float: right;
  }
  nav li {
    padding: 0 1em;
  }
  nav li:first-child {
    float: left;
  }
  #about ul {
    text-align: center;
  }
  #about li {
      display: inline-block;
  }
  .wrapper {
    max-width: 70vw;
  }
}



/*.project img {
  max-height: 400px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}*/

i.iconTech {
  line-height: 1.2em;
}

.project .imgWrapper {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#slackImg {
  background-image: url('../images/SlackOverflow.jpg');
}

#choresImg {
  background-image: url('../images/ChoresApp.jpg');
}

#codePasteImg {
  background-image: url('../images/CodePaste.jpg');
}

/*#choreImage {
  width: auto;
  height: 100%;
}*/

.project .summary {
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.project .links {
  background: blue;
  text-align: center;
}

.project a {
  text-decoration: none;
  background: #cddc39;
  color: black;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

.project a:hover {
  background: #8bc34a;
}

.project .summary h2 {
  margin-top: 0;
}

.devicon-javascript-plain {
  background: black;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
}

#about {
  background: black;
  color: lightgrey;
  padding: 0.5em 0;
}

#about a {
  text-decoration: none;
  color: lightgrey;
}

#about a:hover {
  color: white;
}

#about i {
  vertical-align: middle;
}

#about ul {
  padding: 0;
}

#about li {
  padding: 1em;
  list-style-type: none;

  font-size: 1.2em;
}

#about .fa {
  font-size: 2em;
  padding-right: 0.5em;
}