@import url(https://fonts.googleapis.com/css?family=Lato:700);

body a {
  text-decoration: none;
  color: grey;
}

body a:hover {
  color: darkgrey;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*background: #ecf0f1;*/
  background: rgb(81,62,61);
}

.wrapper {
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
}

nav {
  border-bottom: 2px solid black;
  background: #ecf0f1;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav li.active a{
  color: black;
}

nav ul {
  padding: 0.5em;
  margin: 0;
  text-align: right;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: grey;
}

nav a:hover {
  color: black;
}

.brief {
  min-height: 100vh;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100vw 100vh;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.brief img {
  display: block;
  margin: 0 auto 1em auto;
  border: 1px solid black;
  padding: 5px;
  background: white;
  border-radius: 5px;
  height: 20vmin;
}

.row {
  border: 1px solid lightgrey;
  overflow: hidden;
    background: #ecf0f1;
}

.col {
  max-height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.col-6 {
 display: inline-block;
  width: 60%;
}

.col-4 {
  display: inline-block;
  width: 40%;
}

.col-3 {
  display: inline-block;
  width: calc((100% - 2em) / 3);
}

.chart {
  width: 100%;
  height: 80vh;
}

.about {
  background: #eee8d5;
}

.about .col {
  vertical-align: top;
}

.about .time {
  box-sizing: border-box;
  padding: 0.5em;
}

.about .time h2 {
  text-align: center;
}

.skills {
  background: #F1E6E0;
}

.projects {
  background: #34495e;
}

.project .imgWrapper {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#recomazingImg {
  background-image: url('../images/Recomazing.jpg')
}

#slackImg {
  background-image: url('../images/SlackOverflow.jpg');
}

#choresImg {
  background-image: url('../images/ChoresApp.jpg');
}

#codePasteImg {
  background-image: url('../images/CodePaste.jpg');
}

#tweetAquariumImg {
  background-image: url('../images/TweetAquarium.jpg');
}

.project .summary {
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

i.iconTech {
  line-height: 1.2em;
}

.devicon-javascript-plain {
  background: black;
}

.project .links {
  text-align: center;
}

.project__button {
  display: inline-block;
  text-decoration: none;
  background: #cddc39;
  color: black;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
}

.project__button:hover {
  background: #8bc34a;
  color: white;
}

.project .summary h2 {
  margin-top: 0;
}

#about {
  background: black;
  color: lightgrey;
  padding: 0.5em 0;
}

#about a {
  text-decoration: none;
  color: lightgrey;
}

#about a:hover {
  color: white;
}

#about i {
  vertical-align: middle;
}

#about ul {
  padding: 0;
}

#about li {
  padding: 1em;
  list-style-type: none;

  font-size: 1.2em;
}

#about .fa {
  font-size: 2em;
  padding-right: 0.5em;
}

@media (max-width: 640px) {
  .brief {
    font-size: 1.2em;
  }
  body {
    font-size: 12px;
  }
  nav li {
    display: none;
    text-align: center;
    font-size: 2em;
    margin: 1em auto;
  }
  nav li:first-child {
    display:block;
    color: grey;
    cursor: pointer;
    margin: auto auto;
  }
  nav li:first-child:hover {
    color: black;
  }
  .showMenuItem {
    display: block;
  }
  .col {
    width: 100%;
  }
  .project .img {
    height: 50vmin;
  }
  #about a {
    display: block;
  }
  i.iconTech {
    font-size: 2.2em;
  }
  .wrapper {
    max-width: 95vw;
  }
  #about li, #about a {
      display: block;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .brief {
    font-size: 1.5em;
  }
  article {
    display: table;
  }
  .col {
    width: 50%;
  }
  .about .col {
    width: calc((100% - 2em) / 3);;
  }
  body {
    font-size: 14px;
  }
  .project .img {
    height: 60vmin;
    display: table-cell;
  }
  i.iconTech {
    font-size: 2.5em;
  }
  #logo {
    display: inline-block;
    margin: auto 0;
    padding: 0.5em;
  }
  nav {
    display: inline-block;
  }
  nav li {
    padding: 0 0.25em;
  }
  nav li:first-child {
    float: left;
  }
  #about ul {
    text-align: center;
  }
  #about li {
    display: inline-block;
  }
  .wrapper {
    max-width: 80vw;
  }
}

@media (min-width: 1025px) {
  .brief {
    font-size: 1.5em;
  }
  article {
    display: table;
  }
  .project .img {
    height: 60vmin;
    display: table-cell;
  }
  i.iconTech {
    font-size: 2.5em;
  }
  #logo {
    display: inline-block;
    margin: auto 0;
    padding: 0.5em;
  }
  nav {
    display: inline-block;
    float: right;
  }
  nav li {
    padding: 0 1em;
  }
  nav li:first-child {
    float: left;
  }
  #about ul {
    text-align: center;
  }
  #about li {
      display: inline-block;
  }
  .wrapper {
    max-width: 80vw;
  }
}
